
html {
    height: 100%;
    font-family: "Helvetica Neue"
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/*
Useful for debugging but BUTT UGLY
div {
    border: 1px solid black;
}
*/
.container {
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    min-height: 100%;
}

.container div { -webkit-box-flex: 1; display: -webkit-box; }

.col1, .col2 {
    -webkit-box-sizing: border-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical;
    min-height: 100%;
}
.col1 {
  -webkit-box-flex: 2 !important;
}
.row1, .row2, .row3 {
    -webkit-box-sizing: border-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical;
    height:auto;
}
.visible {
}
.container {
  left: 0;
  top: 0;
  -webkit-transition: .25s;
}
.next {
  left: 100%;
  top: 0;
}
.section {
  padding: 20px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.value {
  font-weight: bold;
}
.caption {

}
.col2 {
  background-color: #eee;
}
.subcolumn1 {
  background-color: #f3f5f7;
}
.subcolumn2 {
  background-color: #dedede;
}